@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/font1/Gilroy-Medium.ttf);
}

html{
    font-family: 'Gilroy';
    user-select: none;
}
body{
    padding: 0;
    margin: 0;
}
.backgroundImg{
    color: transparent;
    position: fixed;
    top: 80px;
    left: 250px;
    height: 100%;
    width: 100%;
}
.transparentGlass {
    position: fixed;
    top: 80px;
    left: 250px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #141515;
    opacity: 1;
}
.navBar {
    text-align: right;
    position: fixed;
    width: 100%;
    left: 250px;
    background: #141515;
    height: 80px;
    color: white;
    border-bottom: 3px solid #4d4d4d;
    z-index: 5;
}
.inside {
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 80px;
}
.mainBanner{
    position: fixed;
    border: 1px solid black;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

@media (min-width:1425px){
    .sideBar {
        position: absolute;
        top: 0px;
        z-index: 2;
        background: #141515;
        width: 250px;
        height: 100%;
        border-right: 3px solid #4d4d4d;
    }
    .navBar{
        right: 0px;
    }
    .inside{
        left: 250px;
    }
}
@media (max-width:1425px){
    .sideBar {
        display: none;
        position: absolute;
        top: 0px;
        z-index: 2;
        background: black;
        width: 100%;
        height: 100%;
        border-right: 1px solid #777777;
    }

}
.homepageHeadText {
    color: white;
    font-size: 70px;
    position: fixed;
    left: 370px;
    font-weight: 700;
    top: 238px;
}
.homepageText {
    color: #494747;
    font-size: 22px;
    position: absolute;
    top: 253px;
    transform: translate(-50%, 0px);
    left: 355px;
    width: 485px;
}
.homepageImage{
    color:transparent;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 750px;
    z-index: 2;
    box-shadow: rgb(130 128 128 / 62%) 0px 5px 35px;
    border-radius: 200px;
}
.homepageCoverup{
    position: absolute;
    background: #1b1a1a;
    width: 850px;
    height: 523px;
    border-radius: 0px 100px 100px 0px;
}
.homepageImageDesign{
    position: absolute;
    width: 570px;
    height: 400px;
    top: 333px;
    left: 90px;
    background: #1e1e1e;
    border-radius: 200px;
}
.homepageImageDesign2{
    position: absolute;
    width: 100%;
    height: 580px;
    top: -40px;
    left: 672px;
    background: #2b2b2b;
    border-radius: 1000px;
}
.homepageImageDesign3{
    position: absolute;
    width: 570px;
    box-shadow: rgb(88 88 88 / 63%) 0px 5px 15px;
    height: 400px;
    top: -247px;
    left: -467px;
    background: #1e1e1e;
    border-radius: 200px;
}
.homepageHeading2{
    position: absolute;
    color: #232323;
    left: 1016px;
    top: 381px;
    font-size: 70px;
    font-weight: 600;
    transform: rotate(90deg) translate(-50%, -50%);
}
@media (max-width:1520px) {
    .homepageHeading2{
        position: absolute;
        color: #232323;
        left: 355px;
        top: 429px;
        font-size: 70px;
        font-weight: 600;
        transform: translate(-50%, -50%);
    }
}
@media (max-width:1425px) {
    .homepageHeadText {
        left: 107px;
    }
}
@media (max-width:1160px) {
    .homepageHeadText {
        color: white;
        font-size: 50px;
        position: absolute;
        /* right: -5cm; */
        z-index: 1;
        font-weight: 700;
        width: 338px;
        top: 87px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .mainBanner {
        position: fixed;
        border: 1px solid black;
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .homepageImage {
        color: transparent;
        width: 800px;
        height: 800px;
        position: absolute;
        top: 2px;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, 0px);
        box-shadow: rgb(130 128 128 / 62%) 0px 5px 35px;
        /* border-radius: 200px; */
    }

    .homepageText {
        color: #696969;
        font-size: 23px;
        position: absolute;
        top: 175px;
        transform: translate(-50%, 0px);
        left: 50%;
        width: 345px;
    }
    .homepageCoverup {
        position: absolute;
        background: #1b1a1ad9;
        width: 1163px;
        height: 792px;
        border-radius: 0px 100px 100px 0px;
    }

    .homepageImageDesign2 {
        position: absolute;
        width: 100%;
        /* display: none; */
        height: 580px;
        top: 387px;
        left: 2px;
        background: #112d218a;
        border-radius: 1000px;
    }
    .homepageImageDesign3 {
        position: absolute;
        width: 570px;
        /* box-shadow: rgb(88 88 88 / 63%) 0px 5px 15px; */
        height: 400px;
        top: -247px;
        left: -467px;
        background: #69480d94;
        border-radius: 200px;
    }
    .homepageHeading2 {
        position: absolute;
        color: #4949492e;
        left: 50%;
        top: 503px;
        /* display: none; */
        font-size: 30px;
        font-weight: 600;
        transform: translate(-50%, -50%);
    }
    .homepageImageDesign {
        position: absolute;
        width: 500px;
        height: 500px;
        top: 6px;
        left: 230px;
        background: #75250da6;
        border-radius: 500px;
    }
}
.navbarLogo {
    color: transparent;
    width: 221px;
    height: 53px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-155%, 0px);
}
.sideBarButton {
    position: fixed;
    top: 185px;
    color: #777777;
    font-size: 28px;
    width: 239px;
    height: 55px;
    left: -20px;
    display: grid;
    padding: 15px;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: 0.5s;
}
.sideBarButton:hover{
    background-color: #F2C53D;
    color: black;
}
img.orderIcon {
    filter: invert(0.5);
    position: absolute;
    width: 30px;
    height: 30px;
    left: 35px;
    top: 25px;
}

.profileButton {
    background: #323232;
    position: fixed;
    height: 60px;
    border: 2px solid #F2C53D;
    width: 240px;
    left: 5px;
    top: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
img.profilePic {
    position: absolute;
    width: 40px;
    border-radius: 100px;
    top: 10px;
    left: 10px;
}
.profileName {
    position: absolute;
    color: white;
    top: 10px;
    left: 55px;
    font-size: 14px;
    font-weight: 700;
}
.profileEmail {
    position: absolute;
    color: grey;
    font-size: 12px;
    top: 25px;
    left: 55px;
}
.profileReplacer {
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 35px;
}
.notebookFilter {
    position: relative;
    filter: sepia(0.3) contrast(1.2) brightness(0.9) hue-rotate(10deg) saturate(1.5);
}

.notebookFilter::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.4) 15%);
    pointer-events: none;
}
.productsBanner{
    position: fixed;
    width: 100%;
    height: 525px;
    background: white;
    top: 580px;
}

@media (max-width:1425px){
    .navBar {
        left: 0px;
    }
    .transparentGlass {
        left: 0px;
    }
    .navbarLogo {
        transform: translate(-50%, 0px);
    }
}